<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
</head>
<body>
<h1>Registration Page</h1>
<form method="POST" action="/register" enctype="multipart/form-data">
    Username: <input type="text" name="username" required><br>
    Password: <input type="password" name="password" required><br>
    First Name: <input type="text" name="firstname" required><br>
    Last Name: <input type="text" name="lastname" required><br>
    Email: <input type="email" name="email" required><br>
    Upload File: <input type="file" name="file"><br>
    <input type="submit" value="Register">
</form>
</body>
</html>
